PORT=1702 # Puerto en el que se ejecutará la aplicación cambielo si es necesario
MONGO_URI=mongodb://localhost:27017/parcial # URI de conexión a MongoDB, asegúrese de que MongoDB esté corriendo y la URI sea correcta de lo conteario cambiela por la URI correcta
JWT_SECRET=your_super_secret_key_here
TOKEN_EXPIRES_IN=tiempo_de_expiracion_del_token
TOKEN_EXPIRES_UNIT=unidad_de_tiempo_para_expiracion_del_token